body {
    font-size: larger;
    font-family: 'Noto Kufi Arabic', sans-serif;
}


a {
    text-decoration: none;
}

.card {
    transition: background-color 0.3s ease;
    /* Transition property for a smooth color change */
}

.card a {
    color: #333;
}

.card .alert-dark a {
    color: #eee;
}

.card-title {
    font-size: inherit !important;
}

.jumbotron {

    margin: 2em 0;

}

.a2a_kit {
    text-align: left;
    font-size: smaller;
}

#mobile_app {
    width: 200px !important;
}

.dropdown-submenu {
    position: relative;
}

/* Open submenu to the left in RTL */
.dropdown-submenu>.dropdown-menu {
    top: 0;
    right: 100%;
    /* instead of left */
    left: auto;
    margin-top: -0.5rem;
    display: none;
}

/* Show submenu on hover */
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.hidden{
    display: none;
}
